node_modules
.env
.openzeppelin
.DS_Store

# Hardhat files
/cache_hardhat
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Foundry files
/cache_forge
/out
/broadcast
