rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // ローカル開発環境では全アクセスを許可
      allow read, write: if true;
    }
  }
}
